<div class="container">
  <form>
    <h2 class="display-5">Contact</h2>
    <p class="lead">
      <strong>Regístrese para recibir las ofertas especiales enviadas por
        correo electrónico.</strong> Entérese de todo. Acceda a las ofertas
      especiales exclusivas. Obtenga las ofertas
      directamente en su bandeja de entrada.
    </p>
    <div style="background: rgb(207, 204, 204); border-radius: 2px;">
      <div class="form-group row d-flex p-2 bd-highlight">
        <label for="inputEmail3" class="col-sm-1 col-form-label" ;>Name</label>
        <div class="col-sm-10">
          <input type="email" class="form-control" id="inputEmail3" placeholder="Name">
        </div>
      </div>
      <div class="form-group row d-flex p-2 bd-highlight">
        <label for="inputPassword3" class="col-sm-1 col-form-label d-flex align-content-around flex-wrap">Email</label>
        <div class="col-sm-10">
          <input type="password" class="form-control" id="inputPassword3" placeholder="Email">
        </div>
      </div>
      <div class="form-group d-flex flex-row-reverse">
        <div class="col-sm-1 d-flex">
          <button type="submit" class="btn btn-primary p-2">Submit</button>
        </div>
      </div>
    </div>
  </form>
</div>