<!-- your html code here -->
<div class="container">
    <div class="row">
        <div class="col-7">
            <h1 class="display-4">Miami Wynwood Walls</h1>
            <p class="lead">The man behind the revival of SoHo and South Beach, Tony Goldman focused his company,
                Goldman Properties, on turning this failing neighborhood into a cultural oasis. Opening with Art Basel
                2009, Wynwood Walls was Goldman’s vision for an open-air art gallery brought to life. That later
                blossomed into a greater neighborhood of art appreciation, and Wynwood’s monthly art walks confirmed the
                creator’s vision for a neighborhood that would become a canvas for urban street art.</p>
        </div>
        <div class="col-5">
            <img src="./assets/img/wynwoodWalls.png" class="img-thumbnail">
        </div>
    </div>
</div>