<div class="container">
    <div class="row">
        <div class="col-5">
            <img src="./assets/img/andresAndSeal.JPG" class="img-thumbnail">
        </div>
        <div class="col-7">
            <h1 class="display-4">Miami Seaquarium</h1>
            <p class="lead">Discover South Florida’s best aquarium and favorite visitor attraction. there is no greater thrill than getting in the water with
                the friendly, intelligent and graceful dolphins at Dolphin Harbor, the best dolphin experience in Miami!!
            </p>
        </div>
    </div>
</div>